body {
       background-color: #FFCCFC;
	   margin: 0;
	   padding: 0;
	  
     }
	 
.topnav {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1C1B1C;
  top: 0;
  width: 100%;
  position: static;
  height: 50px;
}


.topnav a {
  display: block;
  color: #FF3D4E;
  text-align: center;
  float: left;
  padding: 15px 20px 15px 20px;
  text-decoration: none;
  font-size: 18px;
  width: 80px;
}

.topnav a:hover:not(.active) {background-color: #FFDAB9;}

.topnav a.active {background-color: #76E8FF; }

.topnav a.right {float: right;}

@media screen and (max-width: 300px) {
  .topnav a.right, 
  .topnav a {float: none;}
}

h2 {
	font-family: Georgia, serif;
	font-size: 35px;
	color: #ACFFA9;
	margin: 10px;
	padding-left: 10px;
	text-align: center;

   }
   
h3 {
	font-family: Georgia, serif;
	font-size: 30px;
	color: #03FC00;
	margin: 10px;
	padding-left: 10px;
	text-align: center;
   }
   
 p {
	  font-family: verdana;
	  font-size: 0.8em;
	  color: #FFFFFF;
	  margin: 0 0 10px 0;
	  padding: 0px 10px 0px 10px;
    }
	
a{
	font-family:arial;
	font-weight:bold;
	margin-left:15px;
    margin-bottom:30px;
 }
			
a:link{
		background-color: #003A43;
		color: #FFFF0E;
	  }
			
a:visited{
		    background-color: #FAD343;
			color: #0000F4;			
		 }
		
a:hover{
		  background-color: #E5BFE9;
		  color: #00007D;
	   }
			
a:active{
		   background-color: #BFFFFF;
		   color: #820700;			
		}
		
.ordlist {
	       width: 100%;
		   max-width: 700px;
		   border-style: solid;
		   border-color: #00FFFF;
		   border-width: 2px;
		   font-family: Times, serif;
           font-size: 0.9em;
		   margin: 10px 50px 10px 50px;
		   padding: 0px 10px 0px 0px;
         }
		 
li {
	 margin: 5px;
	 padding: 0px;
	 color: #FFFFFF;
	 
	
    }
		 
.unordlist {
	       
			 font-family: Times, serif;
			 font-size: 0.9em;
			 width: 100%;
			 max-width: 700px;
			 margin: 10px 50px 10px 50px;
			 border-style: solid;
			 border-color: #00FFFF;
			 border-width: 2px;
			 padding: 0px 10px 0px 0px;
           }
		   
.deflist {
             list-style-type: square;
			 font-family: Times, serif;
			 font-size: 0.9em;
			 width: 100%;
			 max-width: 700px;
			 margin: 10px 50px 10px 50px;
			 border-style: solid;
			 border-color: #00FFFF;
			 border-width: 2px;
			 padding: 0px 10px 0px 10px;
          }	
dd {
     color: #FFFFFF;
	 padding: 5px 5px 10px 5px;
	 border: solid;
	 border-color: #FFFF1A;
	 border-width: 2px;
	 max-width: 500px;
   }

dt {
      color: #0EDADB;
	  padding: 5px 0px 5px 0px;
	  font-size: 20px;

   }
   
.container {
	         min-width: 1200px;
			 width: 100%;
			 position: relative;
			 margin:0;
			 padding:0;
            }
			
.content {
	       position: relative;
		   width: auto;
		   max-width: 100%;
		   margin: 10px 180px 10px 180px;
		   border-style: dashed;
		   border-width: 3px;
		   border-color: #12FFFF;
		   background-color: #FF3D4E;
		   
         }
		 
footer {
	     font-size: 25px;
		 text-align: center;
		 margin: 10px;
		 padding: 0px;
		 position: relative;
        }
		
h5 {
	font-family: Georgia, serif;
	font-size: 20px;
	color: #666666;
	margin: 10px;
	padding-left: 10px;
	text-align: center;
   }
